# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# dotenv secrets
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Docker
docker-compose.override.yml
**/db-data/
**/infra_db-data/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# IDE settings
.idea/

# ssh keys
repo
repo.pub
